

#About h1 {
    position: relative;
    font-size: 220px ;
    padding: 6px;
    width: 50vw;
    top: 5vh;
    left: 15vh;
    
}

#About p {
    position: absolute;
    font-size: 50px ;
    padding: 30px;
    width: 60vw;
    top: 30vh;
    left: 20vw;
    background-color: none;
    font-style: normal;
    font-weight: normal;
    

}



#me {
    position : absolute;
    
    
    left: 5vw;
    width: 10vw;
    bottom: 30vh;
    
}

/* ####### CODE PLANET ------------------------------------------------------------------------------ */
.AboutCodePlanet{
    position: absolute;
    width: 5vw;
    top: 25vh;
    right: 5vw;
    z-index: 5;
    transition: 1s;
}

.AboutCodePlanet:hover{
    position: absolute;
    transform: scale(1.1);
    transition: 1s;
}

.AboutCodePlanet img{
    position: flex;
    align-items: center;
    justify-content: center;
    left: 10vw;
    z-index: 5;
}

/* ####### HOME PLANET ------------------------------------------------------------------------------ */
.AboutHomePlanet {
    position: absolute;
    width: 10vw;
    bottom: 01vh;;
    right: 5vw;
    z-index: 5;
    transition: 1s;

}

.AboutHomePlanet:hover {
    position: absolute;
    transform: scale(1.1);
    transition: 1s;
}

.AboutHomePlanet img {

    z-index: 5;
}



/* ####### WEBSITES PLANET ------------------------------------------------------------------------------ */
.AboutWebsitesPlanet{
    position: absolute;
    width: 5vw;
    top: 45vh;
    right: 5vw;
    z-index: 5;
    transition: 1s;
}

.AboutWebsitesPlanet:hover{
    position: absolute;
    transform: scale(1.1);

    transition: 1s;
}

.AboutWebsitesPlanet img{
    z-index: 5;
}

/* ####### ABOUT PLANET ------------------------------------------------------------------------------ */
.AboutAboutPlanet{
    position: absolute;
    width: 5vw;
    top: 60vh;
    right: 5vw;
    z-index: 5;
    transition: 1s;
}

.AboutAboutPlanet:hover{
    position: absolute;
    transform: scale(1.1);

    transition: 1s;
}

.AboutAboutPlanet img{
    position: flex;
    align-items: center;
    justify-content: center;
    left: 5vw;
    z-index: 5;
}

/* ####### CONTACT PLANET ------------------------------------------------------------------------------ */
.AboutContactPlanet{
    position: absolute;
    width: 5vw;
    top: 75vh;
    right: 5vw;
    z-index: 5;
    transition: 1s;
}

.AboutContactPlanet:hover{
    position: absolute;
    transform: scale(1.1);

    transition: 1s;
}

.AboutContactPlanet img{
    position: flex;
    align-items: center;
    justify-content: center;
    left: 10vw;
    z-index: 5;
}