#Contact h1 
{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20vh;
    padding: 6px;
    width: 50vw;
    text-align: center;
}

#Contact p 
{
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 10vh;
    padding: 6px;
    width: 50vw;
    text-align: center;
    color: #FFF3B0;
    z-index: 10;
}

#Contact span 
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 50%;
    background-color: #355C66; 
    z-index: 0;
}