nav {
    position: fixed;
    left: 0;
    top: 50%; /* Adjust this value to position it vertically as desired */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20;
}

nav a {
    margin: 15px; 
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-decoration: none;
    color: #FFF3B0; 
    writing-mode: vertical-lr;
    cursor: pointer; 
}