* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemosty';
    }



h1{font-size: 200px;}

@font-face {
    font-family: 'Megrim';
    src: url('font/Megrim.ttf') format('truetype');
}
@font-face {
    font-family: 'Vogue';
    src: url('font/Vogue.ttf') format('truetype');

}
@font-face {
    font-family: 'Minecraft';
    src: url('font/Minecraft.ttf') format('truetype');
}
@font-face {
    font-family: 'Lemosty';
    src: url('font/Lemosty.otf') format('truetype');
}

/* ######## BACKGROUND pages principales ---------------------------------------------- */
.CodeBG {
    position: absolute;


    top: 0vh;
    height: 100vh;
    width: 100vw;  
}
.HomeBG {
    position: absolute;
    background-image: url('img/BackgroundHOME.png');
    background-size: cover;

    top: 100vh;
    height: 100vh;
    width: 100vw;
}
.WebsitesBG {
    position: absolute;

    top: 200vh;
    height: 100vh;
    width: 100vw;   
    z-index: 10;
}

.AboutBG {
    position: absolute;
    
 

    top: 300vh;
    height: 100vh;
    width: 100vw;
    
}

.ContactBG {
    position: absolute;
    


    top: 400vh;
    height: 100vh;
    width: 100vw;
    
}